<link rel="stylesheet" href="/lib/APlayer.min.css">
<div class="twelve">
    <div id="aplayer" class="aplayer-con">
        <!-- <meting-js
            server="netease"
            type="playlist"
            id="113713393"
            theme="#b7ba6b">
        </meting-js> -->
    </div>
</div>
<!-- <script src="/lib/APlayer.min.js"></script> -->
<script src="/js/music.js"></script>
<!-- <script src="/lib/Meting.min.js"></script> -->