<div class="twelve">
    <div class="travel-tage"></div>
    <div id="Bmap"></div>
    <div class="travel-keywords">
        <ul id="KeywordsList">
        </ul>
    </div>
    <script src="/js/travel.js" defer></script>
</div>