<div class="row">
  <div class="column" style="margin:10rem 0 5rem 0;">
    <!-- Main information, edit it on theme/_config.yml -->
    <div id="typedStrings" style="display: none;"><p><%= theme.desc %></p></div>
    <h2 id="descTyped" style="display: inline-block;"></h2>
  </div>
  <div class="column" style="margin-left: 0;">
    <p>You can click ❤ below to change the theme color.</p>
    <div class="theme-color">
      <% for (let i in theme.theme_colors) { %>
        <% let color = theme.theme_colors[i]; %>
        <span class="icon-color" data-tcolor="<%- color %>">
          <svg t="1677744768587" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="41556" width="18" height="18"><path d="M729.068827 119.55798c-94.686523 0-176.905082 48.314379-217.069851 118.640074-40.163745-70.325695-122.382305-118.640074-217.044268-118.640074-143.767358 0-229.665727 123.660414-229.665727 243.219417 0 283.128359 415.870616 527.841803 433.576883 538.126031 4.062526 2.363837 8.584516 3.538593 13.132088 3.538593 4.547573 0 9.070586-1.174756 13.132088-3.538593 17.706267-10.283204 433.576883-254.997672 433.576883-538.126031C958.708971 243.218394 872.811626 119.55798 729.068827 119.55798z" fill="#<%- color %>" p-id="41557"></path></svg>
        </span>
      <% } %>
    </div>
  </div>
  <!-- <div class="column" style="margin-left: 0; margin-top: 3rem;">
    <p>Click here to know more <a href="http://zhongguose.com/">zhongguose.</a></p>
  </div> -->
</div>
<script src="/js/index.js" defer></script>